.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  strong {
    font-weight: bold;
    color: red;

  }
  strong2{
    font-weight: bold;
    color: red;

  }