
  
  .selectdiv {
    position: relative;
    grid-auto-flow: column;
    align-items: center;
    display: inline-grid;
    /*Don't really need this just for demo styling*/
   
    right: -340px;


  }
  
  /* IE11 hide native button (thanks Matt!) */
  select::-ms-expand {
  display: none;
  }
  
  .selectdiv:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 3px;
    
    /*Adjust for position however you want*/
    
    top: 2px;
    padding:  0 0 1px;
    border-bottom: 1px solid #999;
    /*left line */
    
    position: absolute;
    pointer-events: none;
  }
  
  .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    
    
    display: block;
    width: 100px;
    max-width: 150px;
    height: 25px;
    float: right;
    margin: 0px 4px;
    padding: 0px 3px;
    font-size: 16px;
    line-height: 1.75;
    color: #ffffff;
    background-color: #696969;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
  }

  .table3 {
    background: #272e31;
    color: rgb(255, 255, 255);
    padding-left: 200px;
    
    padding-top: 2px;
  
    display: flex;
    flex-direction: row;
  }