
.inputWin {
    background-color: #070707;
    color: rgb(255, 255, 255);
    height: 30px;

}

.test111 {
    grid-auto-flow: column;
    display: inline-grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: minmax(20px, 20px) repeat(1, 40px);
    width: 170px;
    
    background-color: rgba(109, 103, 103, 0.75);
    padding: 2px;
    /*justify-content: space-around;
    flex-direction: column;
    
    word-wrap: break-word;
    word-break: break-all;*/
  }
  .test44 {
    
    display:grid;
    grid-template-columns: repeat(1,500px);
  
    grid-template-rows: minmax(40px, 40px);
    margin: 100px;
    width: 1000px;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
  
  
    background-color: rgba(109, 103, 103, 0.75);
  
  }